.NavBar {
  height: 100%;
  background-color: $main-bg-color;

  .nav-button {
    margin-top: 12px;
    border: none;
    padding: 6px;
    img {
      width: 30px;
      height: 30px;
    }
    &:hover {
      cursor: pointer;
      background-color: $hover-color;
    }
    background-color: inherit;
  }
  .links {
    margin-top: 22px;
    width: 90%;
    a {
      text-align: center;
      border-radius: 12px;
      color: #fff;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}

.open {
  width: 200px;
}
.close {
  width: 80px;
}
