$main-bg-color: #121212;
$hover-color: #212121;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#root {
  display: flex;
  height: 100%;
}
main {
  width: 100%;
}
div{
  height: 100%;
}
a {
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.full-center{
  align-items: center;
  justify-content: center;
}

@import "./views/Home/Home.scss";
@import "./views/Calcul/Calcul.scss";
@import "./views/Calcul/MakeCalcul.scss";

@import "./components/NavBar/NavBar.scss";
