.MakeCalcul{
    h1{
        text-align: center;
    }
    input{
        margin-top: 16px;
    }
    form{

        #rounds {
            height: 100%;
            border: none;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            border-radius: 12px 0 0 12px;
            padding-left: 12px;
            &:focus{
                outline:none;
            }
        }
        #submit{
            border: none;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            padding: 0 6px;

            border-radius: 0 12px 12px 0;
            height: 100%;
        }
    }
}